@model PFM.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security
<link href="~/Content/BtnSignUp.css" rel="stylesheet" />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                Aucun service d'authentification externe n'est configuré. Consultez <a href="https://go.microsoft.com/fwlink/?LinkId=403804">cet article</a>
                pour plus d'informations sur la configuration de cette application ASP.NET et la prise en charge des connexions via des services externes.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <button class="btnGoogle col-lg-12" type="submit" name="provider" value="Google">
                <div class="google-icon-wrapper">
                    <img class="google-icon" src="../pic/btn_google_light_normal_ios.svg" />
                </div>
                <p style="margin:0px;">Sign in with google</p>
            </button>
            <br />
            <button type="submit" style="background-color: #0d8cf1; height: max-content; display: flex; justify-content: space-between; align-items: center; padding: 0px 0px 0px 3px; margin: 0; text-decoration: none; color: #ffffff; cursor: pointer; border: none; box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);"
                    class="btnFacebook col-lg-12" name="provider" value="Facebook"
                    title="Connexion à l'aide de votre compte.">
                <span class="IconFace">
                    <i style="color: white" class="fab fa-3x fa-facebook-square"></i>
                </span>
                <span style="padding: 0px 50px;">Continue with Facebook</span>
            </button>
        }
    }
}