@model PFM.Models.MailViewModel
@using (Html.BeginForm("_OngletContact", "Shared", FormMethod.Post, htmlAttributes: new { @id = "ContactUsForm" }))
{
    <div class="sec_onglet_contact container-fluid m-0 p-0 d-flex">
        <div style="background-color: black;"
             class="container m-0 px-0 py-0 col-lg-3 fixed-bottom text-light d-flex justify-content-center flex-column onglet_contact">
            <div class="col-lg-12 text-center  d-flex justify-content-around align-items-center  btn_display ">
                <h3 class="col-lg-10">Contact us</h3>
                <div class="col-lg-2" id="btn_close_open">
                    <span id="fleche"><i class="fa fa-arrow-up  text-primary" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="div_cacher" id="div_cacher">
                <div class="from col-lg-12 d-flex justify-content-center flex-column ">
                    <div class="container form-group col-lg-12 px-0 py-3 m-0">
                        <div class="col-lg-12">
                            @Html.TextBoxFor(m => m.Name_M, new { @class = "d-inline form-control  col-lg-12", @placeholder = "Enter your name" })
                            @*@Html.ValidationMessageFor(m => m.Name_M, "", new { @class = "text-danger" })*@
                        </div>

                    </div>
                    <div class="container form-group col-lg-12 px-0 py-3 m-0">
                        <div class="col-lg-12">
                            @Html.TextBoxFor(m => m.Email_M, new { @class = "d-inline form-control  col-lg-12", @placeholder = "Enter your Email" })
                            @*@Html.ValidationMessageFor(m => m.Email_M, "", new { @class = "d-inline text-danger" })*@
                        </div>
                    </div>
                    <div class="container form-group col-lg-12 px-0 py-3  m-0">
                        <div class="col-lg-12">
                            @Html.TextBoxFor(m => m.Subject_M, new { @class = "d-inline form-control  col-lg-12", @placeholder = "Enter your Subject" })
                            @*@Html.ValidationMessageFor(m => m.Subject_M, "", new { @class = "d-inline text-danger" })*@
                        </div>
                    </div>
                    <div class="container form-group col-lg-12 px-0 py-3  m-0">
                        <div class="col-lg-12">
                            @Html.TextAreaFor(m => m.Message_M, new { @class = "d-inline form-control  col-lg-12", @placeholder = "Enter your Subject", @cols = "30", @rows = "5" })
                            @*@Html.ValidationMessageFor(m => m.Message_M, "", new { @class = "d-inline text-danger" })*@
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 my-1 d-flex justify-content-center flex-column">
                    <button id="send_email" type="submit" class="btn btn-info col-lg-12">
                        <span>Send email</span>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
}
<div class="box-footer-1 m-0 p-0">
    <a id="button"></a>
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script>
    $(document).ready(function () {
        $('#ContactUsForm').validate(
            {

                errorClass: 'help-block animation-slideDown text-danger',
                errorElement: 'span',
                errorPlacement: function (error, e) {
                    e.parents('.form-group > div').append(error);
                },
                highlight: function (e) {

                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules: {
                    'Email_M': {
                        required: true,
                        email: true
                    },

                    'Name_M': {
                        required: true
                    },
                    'Subject_M': {
                        required: true
                    },
                    'Message_M': {
                        required: true
                    },
                },
                messages: {
                    'Email_M':
                    {
                        required: 'Please enter valid email address'
                    },
                    'Message_M': {
                        required: 'Message is required'
                    },
                    'Subject_M': {
                        required: 'Subject is required'
                    },
                    'Name_M': {
                        required: 'Name is required'
                    }
                }
            });
    });
</script>

<script src="~/Scripts/MyScripts/main.js"></script>