




.signup-img-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.div-form {
    margin-bottom: 23px;
}


.labelinput {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 7px;
}

label.required {
    position: relative;
}

    label.required:after {
        content: '*';
        margin-left: 2px;
        color: #b90000;
    }

input, select {
    box-sizing: border-box;
    border: 1px solid #999;
    padding: 8px 6px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    font-size: 20px;
    width: 100%;
}

    input:focus {
        border: 1px solid #08361a;
    }

.label-flex {
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
}

    .label-flex label {
    }

.form-link {
    font-size: 12px;
    color: #222;
    text-decoration: none;
    position: relative;
}

    .form-link:after {
        position: absolute;
        content: "";
        height: 2px;
        background: #d7d7d7;
        left: 0;
        bottom: 12px;
    }

.submit {
    height: 50px;
    display: inline-block;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}

#reset {
    background: #fff;
    color: #999;
    border: 2px solid #ebebeb;
}

    #reset:hover {
        border: 2px solid #329e5e;
        background: #329e5e;
        color: #fff;
    }

#submit {
    background: #329e5e;
    color: #fff;
    margin-right: 25px;
}

    #submit:hover {
        background-color: #267747;
    }

.div-form {
    position: relative;
}

label.error {
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
}

    label.error:after {
        font-family: 'Material-Design-Iconic-Font';
        position: absolute;
        content: '\f1f8';
        right: 20px;
        top: 37px;
        font-size: 23px;
        color: #c70000;
    }

input.error {
    border: 1px solid #c70000;
}

.select-list {
    position: relative;
    display: inline-block;
    margin-bottom: 47px;
}

.list-item {
    position: absolute;
    z-index: 99;
}

.sec-showcase-offers {
    background-color: antiquewhite;
    height: 680px;
}

.showcase-offers {
    height: inherit;
    background-image: url(../pic/offer-pic/showcase-offer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

    .showcase-offers div h1 {
        background-color: #DF6C4F;
        font-family: 'Long Cang', cursive;
    }

#sp2 {
    display: block;
    font-size: 3rem;
    font-family: 'Long Cang', cursive;
}

#sp1, #sp3 {
    background-color: #9cd9ee;
    display: block;
    width: 100%;
    height: 3px;
    margin:2px;
}


#div-or {
    width: 100%;
    display: flex;
    align-items: center;
}
.icon-con
{
    background-image: url(../pic/eye-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    color: lightgray;
    cursor:pointer;
}
.icon-pass {
    background-image: url(../pic/eye-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    color: lightgray;
    cursor: pointer;
}