@{
    ViewBag.Title = "Eat & Drink Page";
}
<link href="~/Content/style_eat_page.css" rel="stylesheet" />
<section class="sec-showcase-eat">
    <div class="showcase-eat d-flex justify-content-center align-items-center"
         style="background: url('../../pic/eat_pic/showcase-eat.jpg') no-repeat fixed center center/cover ;">
    </div>
</section>
<section class="sec-band-eat pt-5  justify-content-center">
    <div class="text-center band-eat">
    </div>
</section>
<section class="main">
    <div class="text-center">
        <h1 class="d-inline display-4 font-weight-bold ">Eat & Drinks</h1>
    </div>
    <br>
    <div class="container-fluid">
        <h2 class="text-center display-4 "><span id="s_b"> AK </span>EXPERIENCE</h2>
        <p class="text-center ">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ab placeat cum
            accusamus adipisci. Vel magnam, mollitia culpa voluptate perferendis laboriosam saepe laudantium
            officiis dignissimos? Perspiciatis accusamus expedita natus officia.
        </p>
    </div>
</section>
<section class="slider-img d-flex justify-content-center align-items-center py-5">
    <div id="my-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li class="active" data-target="#my-carousel" data-slide-to="0" aria-current="location"></li>
            <li data-target="#my-carousel" data-slide-to="1"></li>
            <li data-target="#my-carousel" data-slide-to="2"></li>
            <li data-target="#my-carousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class=" w-100 h-25" src="pic/eat_pic/food-1.jpg" alt="">

            </div>
            <div class="carousel-item">
                <img class=" w-100 h-25" src="pic/eat_pic/food-2.jpg" alt="">

            </div>
            <div class="carousel-item">
                <img class=" w-100 h-25" src="pic/eat_pic/food-3.jpg" alt="">

            </div>
            <div class="carousel-item">
                <img class="img-fluid w-100 h-25" src="pic/eat_pic/food-4.jpg" alt="">

            </div>
        </div>
        <a class="carousel-control-prev" href="#my-carousel" data-slide="prev" role="button">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only text-dark">Previous</span>
        </a>
        <a class="carousel-control-next" href="#my-carousel" data-slide="next" role="button">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only text-dark">Next</span>
        </a>
    </div>
</section>
<section class="sec-our-menu d-flex justify-content-center align-items-center ">
    <div>
        <h1 class="text-center d-inline font-weight-bold">Our Menu...</h1>
    </div>
</section>
<section class="sec-menu">
    <div class="div-menu container-fluid m-0 p-0 d-flex row ">
        <div class="lunch-menu col-md-6 m-0 p-0 d-flex justify-content-center align-items-center">
            <div class="text-center text-dark p">
                <h1>Lunch Menu</h1>
                <a class="btn_diner" href="menu-pdf/menu-jantar-a4.pdf">
                    <span class="cont_btn_diner">
                        <span class="ligne">View</span>
                    </span>
                </a>
            </div>
        </div>
        <div class="diner-menu col-md-6 m-0 p-0  d-flex justify-content-center align-items-center">
            <div class="text-center text-dark m-0 p-0 p">
                <h1 class="my-3 mx-0">Diner Menu</h1>
                <a class="btn_diner_1" href="menu-pdf/menu-jantar-a4.pdf">
                    <span class="cont_btn_diner_1">
                        <span class="ligne_1">View</span>
                    </span>
                </a>
            </div>
        </div>
        <div></div>
    </div>
</section>
<section class="sec-our-menu d-flex justify-content-center align-items-center "></section>
